<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="EmployeeExamDatabase"
			 connectionString="Data Source=AlfredoXPS\SQLEXPRESS;Initial Catalog=EmployeeExamDatabase;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient"/>

  </connectionStrings>

</configuration>